<div ng-controller="adminCtrl">
	<h3>All users</h3>
	<table>
		<thead>
			<tr>
				<th>Username</th>
				<th>Role</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.username}}</td>
				<td>{{user.role}}</td>
				<td>{{user.status}}</td>
				<td>
					<button type="button" ng-if="user.status == 'Active'" ng-click="blockUser(user)">Block</button>
					<button type="button" ng-if="user.status == 'Blocked'" ng-click="unblockUser(user)">Unblock</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<h3>All languages</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="language in languages">
				<td>{{language.name}}</td>
			</tr>
		</tbody>
	</table>
	
	<div>
		<h3>Add new Language</h3>
		<label>Enter the name of the language</label>
		<input type="text" placeholder="Name of the language" ng-model="language.name">
		<button ng-click="addLanguage(language)">Add language</button>
	</div>
	
	<a href="#/logout" ng-click="logout()">Logout</a>
</div>