<div ng-controller="registerCtrl" class="container col-md-6 col-md-offset-3 text-center">
	<div class="form-group">
		<label class="control-label" for="inputSmall">Enter username</label>
		<input class="form-control input-sm" type="text" ng-model="user.username" placeholder="username" name="username">
		<label class="control-label" for="inputSmall">Enter password</label>
		<input class="form-control input-sm" type="password" ng-model="user.password" placeholder="password" name="password">
		<label class="control-label" for="inputSmall">Enter First name</label>
		<input class="form-control input-sm" type="text" ng-model="user.firstName" placeholder="First name" name="firstName">
		<label class="control-label" for="inputSmall">Enter last name</label>
		<input class="form-control input-sm" type="text" ng-model="user.lastName" placeholder="Last name" name="lastName">
		<label class="control-label" for="inputSmall">Enter email address</label>
		<input class="form-control input-sm" type="email" ng-model="user.email" placeholder="Email" name="email">
		<label class="control-label" for="inputSmall">Enter phone number</label>
		<input class="form-control input-sm" type="number" ng-model="user.phoneNumber" placeholder="Phone number" name="phoneNumber">
		<label class="control-label" for="inputSmall">Enter location</label>
		<input class="form-control input-sm" type="text" ng-model="user.location" placeholder="Location" name="location" >
		<label class="control-label" for="inputSmall">Choose profile picture</label>
		<input class="form-control input-sm" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
		<button class="btn btn-primary" ng-click="register()">Register</button>
		<a href="#/login">Already have account? Login</a>
	</div>
</div>