<div ng-controller="snippetCtrl">
	<a href="#/logout" ng-click="logout()">Logout</a>
	<h3>All snippets</h3>
	<table>
		<thead>
			<tr>
				<th>Description</th>
				<th>Language</th>
				<th>Url</th>
				<th>User</th>
				<th>Details</th>
				<th ng-if="userRole == 'admin'">Delete</th>
				<th ng-if="userRole == 'admin'">Disable/Enable comments</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in snippets">
				<td>{{s.description}}</td>
				<td>{{s.language}}</td>
				<td>{{s.url}}</td>
				<td>{{s.user}}</td>
				<td>
					<a href="" type="button" ng-click="detailsSnippet(s)">Details</a>
				</td>
				<td>
					<a ng-if="userRole == 'admin'" href="" type="button" ng-click="deleteSnippet(s)">Delete</a>
				</td>
				<td>
					<a ng-if="userRole == 'admin' && s.canBeCommented == true" href="" type="button" ng-click="blockComments(s)">Disable</a>
					<a ng-if="userRole == 'admin' && s.canBeCommented == false" href="" type="button" ng-click="unblockComments(s)">Enable</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div ng-if="status == 'Active'">
		<h3>Add new Snippetttttt</h3><br>
		<label>Enter description</label>
		<input type="text" placeholder="Description" ng-model="snippet.description"><br>
		<label>Enter code</label>
		<input type="text" placeholder="Code" ng-model="snippet.code"><br>
		<label>Select Language</label>
		<select ng-model="language" ng-options="lang.name for lang in languages"></select><br>
		<label>Enter url</label>
		<input type="text" placeholder="Url" ng-model="snippet.url"><br>
		<label>Enter expiration</label>
		<input type="text" placeholder="Expiration" ng-model="snippet.expiration"><br>
		<button ng-click="addSnippet(snippet)">Add snippet</button>
	</div>
	
</div>