<div ng-controller="snippetDetailsCtrl">
	<a href="#/logout" ng-click="logout()">Logout</a>
	<h3>Snippets details</h3>
	<table>
		<thead>
			<tr>
				<th>Description</th>
				<th>Language</th>
				<th>Url</th>
				<th>User</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{s.description}}</td>
				<td>{{s.language}}</td>
				<td>{{s.url}}</td>
				<td>{{s.user}}</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div ng-if="s.canBeCommented == true && status == 'Active'">
		<p>Tell us what you think about this snippettttt</p>
		<label>Your comment</label><br>
		<input type="text" ng-model="comment.text"><br>
		<button ng-click="addComment(s, comment)">Comment</button><br>
	</div>
	<h4>What other people think</h4>
	<div ng-repeat="c in comments">
		<label>Comment by: {{c.user}}</label><br>
		<label>On: {{c.dateTimeCommented | date:'MM/dd/yyyy HH:mm'}}</label><br>
		<textarea readonly="readonly">{{c.text}}</textarea><br>
		<label>Number of positive grades: {{ c.grade.positiveClicks }}</label><a href="" ng-if="role != 'Guest'" ng-click="likeComment(c, s)">Like</a><br>
		<label>Number of negative grades: {{ c.grade.negativeClicks }}</label><a href="" ng-if="role != 'Guest'">Dislike</a><br>
		<button ng-if="role == 'admin' || (role == 'regUser' && c.user == userUsername)" ng-click="deleteComment(c, s)">Delete comment</button>
		<hr>
	</div>
</div> 